<ion-view view-title="Delivery">
  <ion-content>
     <div class="card">
      <div class="item item-divider item-assertive">
        Chart
      </div>
      <div class="item item-text-wrap">
        A Brief Column chart should be displayed comparing Delivery order revenue across all branches
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-energized">
        Ashok nagar
      </div>
      <div class="item">
        <span style="float:right">Rs.1,25,000</span>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider item-balanced">
        Porur
      </div>
      <div class="item">
        <span style="float:right">Rs.12,000</span>
      </div>

    </div>
    <div class="card">
      <div class="item item-divider item-calm">
        Vadapalani
      </div>
      <div class="item">
        <span style="float:right">Rs.25,000</span>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-positive">
        Santhome
      </div>
      <div class="item">
        <span style="float:right">Rs.5,275</span>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-royal">
        Kilpauk
      </div>
      <div class="item">
        <span style="float:right">Rs.8,745</span>
      </div>
    </div>
  </ion-content>
</ion-view>
