  <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Last week
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Last Month
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
             Custom Range
            </a>
          </div>
        </ion-content>
      </ion-popover-view>