<ion-view view-title="Today's Sale">
        <ion-content>
    <ion-slide-box show-pager="false" ion-slide-tabs>
            
            <ion-slide ion-slide-tab-label="Ashok nagar">

                <div class="card">
                    <div class="item item-divider item-assertive">
                        Chart
                    </div>
                    <div class="item item-text-wrap">
                        A Brief Column chart should be displayed comparing Dine-in, Take-Away & Delivery
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-energized">
                        Dine-in
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.1,25,000</span>
                    </div>

                </div>
                <div class="card">
                    <div class="item item-divider item-balanced">
                        Take Away
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.12,000</span>
                    </div>

                </div>
                <div class="card">
                    <div class="item item-divider item-calm">
                        Delivery
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.25,000</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-positive">
                        Service Charge
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.5,275</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-royal">
                        Service Tax
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.8,745</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        Parcel Charge
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.6,678</span>
                    </div>
                </div>


            </ion-slide>

            <ion-slide ion-slide-tab-label="Porur">
                <div class="card">
                    <div class="item item-divider item-assertive">
                        Chart 2
                    </div>
                    <div class="item item-text-wrap">
                        A Brief Column chart should be displayed comparing Dine-in, Take-Away & Delivery
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-energized">
                        Dine-in
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.1,25,000</span>
                    </div>

                </div>
                <div class="card">
                    <div class="item item-divider item-balanced">
                        Take Away
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.12,000</span>
                    </div>

                </div>
                <div class="card">
                    <div class="item item-divider item-calm">
                        Delivery
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.25,000</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-positive">
                        Service Charge
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.5,275</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-royal">
                        Service Tax
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.8,745</span>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider item-dark">
                        Parcel Charge
                    </div>
                    <div class="item">
                        <span style="float:right">Rs.6,678</span>
                    </div>
                </div>


            </ion-slide>
     
    </ion-slide-box>
   </ion-content>
</ion-view>